<div id="app">
    <div class="main-wrapper main-wrapper-1">
      <div class="navbar-bg"></div>
      <MainNavbar />
      <MainSidebar />

      <!-- Main Content -->
      <div class="main-content" style="min-height: 833px;">

      </div>
      <MainFooter />
    </div>
  </div>
